# Dependencies
node_modules/
bin/
obj/
dist/
build/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE Specific
*.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary and Build Files
*.tmp
*.bak
*.cache

# .NET-specific
*.pdb
*.dll
*.exe
*.config
*.csproj.user

